main {
    text-align: center;
    background-color: rgb(31, 31, 31);
    margin: auto;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
    background-color: rgb(31, 31, 31);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@key_blank fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1, h2, h3, h4, h5, h6{
    color: #ccc;

}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: .2em;
}

.top-bar a {
    color: white;
    text-decoration: solid;
    font-size: 2.25em;

}

.top-bar {
    color: #ccc;
}

.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: .08em;
}
.buttons {
    background-color: #333;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
p {
    width: 13em;
    color: rgb(214, 210, 210);
    background-size: cover;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.tab-container {
    position: fixed;
    left: -15em;
    top: 0;
    width: 18em;
    height: 100%;
    background: rgb(54, 54, 54);
    transition: left 0.5s ease-in-out;
}

.tab-container:hover {
    left: 0;
}

body:hover:before {
    content: '';
    width: 6.25em;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

body:hover:before:hover+.tab-container {
    left: 0;
}

.nav-list::before {
    content: "";
    background-image: url(../images/list.png);
    background-repeat: round;
    width: 1.875em;
    height: 1.875em;
    position:fixed;
    top: 3.4375em;
    left: 0.4375em;
    z-index: 99999;
}


h6 a {
    padding-left: 0.3125em;
    font-weight: bolder;
    color: rgb(191, 191, 191);
    font-size: 1.95em;
    margin: auto;
}
h6:hover{
    transform: scale(1.1);
}


#codeInput {
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 200px;
  }
  
  #submitButton {
    background-color: rgb(21, 177, 47);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  h6:first-of-type{
    padding-top: 5em;
  }
h6{
    text-decoration: underline;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(31, 31, 31);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(54, 54, 54);
  }
  .input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: .8vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;
  }
  
  .input:hover {
    box-shadow: 0 0 0 .15vw rgba(255, 255, 255, 0.186);
  }
  
  .input:focus {
    box-shadow: 0 0 0 .15vw rgb(255, 255, 255);
  }