main {
    text-align: center;
    background-color: rgb(31, 31, 31);
    margin: auto;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
    background-color: rgb(31, 31, 31);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@key_blank fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


img {
    width: 4em;
    background-color: rgb(68, 68, 68);
    animation: pulse 5s infinite;
    transition: transform 0.1s ease-in-out;
    border: 0.35em solid rgb(54, 54, 54);
    border-radius: 10em;
    position:relative;
}

img:hover {
    transform: scale(1.1);
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: .2em;
}

.top-bar a {
    color: white;
    text-decoration: solid;
    font-size: 1.75em;

}

.top-bar {
    color: #ccc;
}

.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: .08em;
}
.buttons {
    background-color: #333;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
p {
    width: 13em;
    color: rgb(214, 210, 210);
    background-size: cover;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    border: 0.5em solid #333;
    border-radius: 100em;
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.tab-container {
    position: relative;
    left: -15.625em;
    top: 0;
    width: 18em;
    height: 100%;
    background: rgb(54, 54, 54);
    transition: left 0.5s ease-in-out;
    padding-top: 4em;
    padding-bottom: 1em;
}

.tab-container:hover {
    left: 0;
}

body:hover:before {
    content: '';
    width: 6.25em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

body:hover:before:hover+.tab-container {
    left: 0;
}

.nav-list::before {
    content: "";
    background-image: url(../images/list.png);
    background-repeat: round;
    width: 1.875em;
    height: 1.875em;
    position: fixed;
    top: 3.4375em;
    left: 0.4375em;
    z-index: 99999;
}


h6 a {
    padding-left: 0.3125em;
    font-weight: bolder;
    color: rgb(191, 191, 191);
    font-size: 1.95em;
    margin: auto;
}
h6:hover{
    transform: scale(1.1);
}
