body {
    background-color: rgb(31, 31, 31);
    width: 70%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif
}
main{
    margin-top: 200px;
}
img {
    width: 12.5rem;
    background-color: rgb(68, 68, 68);
    animation: pulse 5s infinite;
    transition: transform 0.5s ease-in-out;
    border: 10px solid rgb(54, 54, 54);
    border-radius: 7.5rem;
}
img:hover{
    transform: scale(1.05);
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top-bar a {
    color: white;
    text-decoration: solid;
    font-size: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

.top-bar a:hover {
    color: #ccc;
}
.copyright{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3px;
}
.list {
    text-align:center;
    display: none;
    position: absolute;
    top: 30px;
    right: -115px;
    margin: 0;
    margin-left: -240px;
    transition: transform 0.5s ease-in-out;
    transform: scale(0.8);
    list-style: none;
}
.container:hover .list {
    display: block;
  }
.buttons{
    background-color: #333;
}
.unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
hr {
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.185));
    width: 100%;
  }
p{
    color:rgb(214, 210, 210);
    background-size:cover;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border: 10px solid #333;
    border-radius: 1000px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}